<h2 id="lib_header1">Current User's Library</h2> 
<h3 id="lib_header2">Download or manage your chosen titles below</h3>


<div id="all_musics">
  <!-- TODO: for every music in this user library -->
    <div class="music">
      <img src="/images/music_icon.png" />
      <br/>
      <%= link_to "Test music", '#' %> <!-- TODO：redirect to this music page:show.html.erb -->
      <p>Singer</p> 
      <%= link_to 'Remove from library', '#', class: 'library_link_button', id: 'remove_button' %>
      <%= link_to 'Download', '#', class: 'library_link_button', id: 'download_button' %>
    </div>
    
    <!-- 下面是测试数据，后端写好删掉 -->
    <div class="music">
      <img src="/images/music_icon.png" />
      <br/>
      <%= link_to "Test music", '#' %>
      <p>Singer</p>
      <%= link_to 'Remove from library', '#', class: 'library_link_button', id: 'remove_button' %>
      <%= link_to 'Download', '#', class: 'library_link_button', id: 'download_button' %>
    </div>

    <div class="music">
      <img src="/images/music_icon.png" />
      <br/>
      <%= link_to "Test music", '#' %>
      <p>Singer</p>
      <%= link_to 'Remove from library', '#', class: 'library_link_button', id: 'remove_button' %>
      <%= link_to 'Download', '#', class: 'library_link_button', id: 'download_button' %>
    </div>

    <div class="music">
      <img src="/images/music_icon.png" />
      <br/>
      <%= link_to "Test music", '#' %>
      <p>Singer</p>
      <%= link_to 'Remove from library', '#', class: 'library_link_button', id: 'remove_button' %>
      <%= link_to 'Download', '#', class: 'library_link_button', id: 'download_button' %>
    </div>

    <div class="music">
      <img src="/images/music_icon.png" />
      <br/>
      <%= link_to "Test music", '#' %>
      <p>Singer</p>
      <%= link_to 'Remove from library', '#', class: 'library_link_button', id: 'remove_button' %>
      <%= link_to 'Download', '#', class: 'library_link_button', id: 'download_button' %>
    </div>
</div>


