
<h2>Details about <em><%= @music.title %></em></h2>

<ul id="details">
  <li>
    Category:
    <%= @music.category %>
  </li>
  <li>
    Released on:
    <%= @music.release_date.strftime("%B %d, %Y") %>
  </li>
  <li>
    Singer:
    <%= @music.singer %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @music.description %>
</p>

<div class="row">

  <% if @current_user.admin %>
    <%= link_to 'Edit', edit_music_path(@music), class: 'link_button', id: 'edit_button' %>
    <%= link_to 'Delete', music_path(@music), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'link_button' %>
  <% else %>
    <%= link_to 'Download', download_music_path(@music), class:"link_button" %>
    <%= link_to 'Favorite', favorite_music_path(@music), class:"link_button" %>
  <% end %>
  <%= link_to 'Back to music list', musics_path, class: 'link_button', id: 'back_button' %>
  
</div>
